main.exe
main.pdb
trial.fr

target/
Cargo.lock

*.o
*.asm
out.txt
output
main

.zed/*

web/.next/
web/node_modules/
web/out
web/.env
web/.env.*
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
test_files
testcases.fr
run_debug_tests.sh
debug_output.txt